<!-- 
    @jeffotoni
    04/01/2019
    HTML LOGIN front-end in Go
-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Forgot Password</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<link href="/web/static/css/forgot-password.css" rel="stylesheet" id="forgot-password">
<link rel="icon" href="/web/static/img/favicon.ico" />

</head>
<body>
<div class="login-form">
    <form action="/api/actions/forgotpassword" method="post">
        <h2 class="text-center">Forgot Password</h2>
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="email" placeholder="Email" required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Recover Password</button>
        </div>        
    </form>
    <div class="hint-text big">Login <a href="/login" class="text-success">Login!</a></div>
</div>
</body>
</html>